body
{
    background-color: rgb(132, 142, 151);
}

h1, h2, p
{
    text-align: center;
}

#table
{
    display: flex;
    justify-content: center;
}

table
{
    border: 1px outset rgb(3, 3, 3);
    background-color: rgb(255, 255, 255);
    
}

table > * > tr > *
{
    border: 1px outset rgb(3, 3, 3);
}

td
{
    text-align: center;
}